.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.buttonWrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actionButton {
  margin-top: 40px;
}
